<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
        <a th:href="@{/user/profile}">Edit profile</a>
        <a th:href="@{/user}">user list</a>
        <a th:replace="parts/common :: login"> login page </a>
    <br>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <br>
        <!--th:field="*{text}"-->
    <div>
        <form th:action="@{/main}" method="post" enctype="multipart/form-data" th:object="${newMessage}">
            <table>
                <tr>
                    <td>File:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td>Text:</td>
                    <td> <input type="text" th:value ="_" id = "text" name = "text" /></td>
                    <td th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</td>
                </tr>
                <tr>
                    <td>Tag:</td>
                    <td><input type="text" th:field="*{tag}" /></td>
                    <td th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Tag Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
    <br>
    <div>Список сообщений</div>
    <form method="post" th:action="@{/filter}">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>
    <div>Удалить сообщение:</div>
    <form method="GET" th:action="@{/delete}">
        <input type="text" name="id">
        <button type="submit">Удалить</button>
    </form>
    <br>
   <table id="messagesList">
        <thead>
        <tr>
            <th> Id   </th>
            <th> Text   </th>
            <th> Tag   </th>
            <th> authorName   </th>
            <th> Image   </th>
        </tr>
        </thead>
        <tbody>
        <h th:if="${flag == 'true'}">

            <tr th:each="message : ${messages}">
            <td th:text="${message.id}"></td>
            <td th:text="${message.text}"></td>
            <td th:text="${message.tag}"></td>
            <td th:text="${message.getAuthorName()}"></td>
            <td> <img th:src = "@{'/static/' + ${message.filename}}" th:width="30px"> </td>
            <h th:if="${message.getUser().getId() == userId}">
                <td>
                    <form th:action="@{/editMessage/{id}(id = ${message.id})}" method="post">
                        <input type="submit" value="Edit"/>
                    </form>
                </td>
            </h>
        </tr>
         </h>

        <h th:if="${flag == 'false'}">
            <tr th:each="message : ${messages}">

                <h th:if="${message.getUser().getId() == userId && messageId == message.id}">
                    <td th:text="${message.id}"></td>
                    <td>
                        <form th:action="@{/editedMessage/{id}(id = ${message.id})}" method="post">
                            <input type="text" th:value="${message.getText()}" name = "text"/>
                            <input type="submit" value="Confirm"/>
                        </form>
                    </td>
                    <td th:text="${message.tag}"></td>
                    <td th:text="${message.getAuthorName()}"></td>
                    <td> <img th:src = "@{'/static/' + ${message.filename}}" th:width="30px"> </td>
                </h>

                <h th:if="${message.getUser().getId() == userId && !(messageId == message.id)}">
                    <td th:text="${message.id}"></td>
                    <td th:text="${message.text}"></td>
                    <td th:text="${message.tag}"></td>
                    <td th:text="${message.getAuthorName()}"></td>
                    <td> <img th:src = "@{'/static/' + ${message.filename}}" th:width="30px"> </td>
                    <td>
                        <form th:action="@{/editedMessage}" method="post">
                            <input type="submit" value="Edit"/>
                        </form>
                    </td>
                </h>
                <h th:if="${!(message.getUser().getId() == userId)}">
                    <td th:text="${message.id}"></td>
                    <td th:text="${message.text}"></td>
                    <td th:text="${message.tag}"></td>
                    <td th:text="${message.getAuthorName()}"></td>
                    <td> <img th:src = "@{'/static/' + ${message.filename}}" th:width="30px"> </td>
                </h>

            </tr>
        </h>
        </tbody>
    </table>

</body>


</html>