<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
</head>
<body>
<div th:replace="parts/common :: login"></div>

<table id="countryList">
    <thead>
    <tr>
        <th> Name </th>
        <th> Role </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.roles}"></td>
        <td><a th:href="@{/user/{id}(id=${user.getId()})}">Edit</a></td>
        <td>
            <span th:if="${mainUser.getId().equals(user.getId()) == false}">
                <span th:if="${subscribersIds.contains(user.getId())}"> <a th:href="@{/user/unsubscribe/{id}(id=${user.getId()})}">Unsubscribe</a></span>
                <span th:unless="${subscribersIds.contains(user.getId())}"> <a th:href="@{/user/subscribe/{id}(id=${user.getId()})}">Subscribe</a></span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/user/showMessage}">Show Messages</a>
</body>
</html>